body{
    background-color: rgb(10, 10, 10);
}

#bar1{
    caption-side: bottom;
    color:whitesmoke;
    padding-left: 28%;
}
#bar2{
    caption-side: bottom;
    color:whitesmoke;
    padding-left: 28%;
}

#f001{
    color: rgb(88, 84, 86);
    caption-side: top;
    font-size: 70%;
    margin-top: -1%;
    font-style: italic;
    padding-left: 25%;
}#f0011{
    color: rgb(88, 84, 86);
    caption-side: top;
    font-size: 70%;
    margin-top: -17%;
    font-style: italic;
    padding-left: 25%;}

#total{
    caption-side: bottom;
    padding-left: 25%;
    color : rgb(53, 72, 241);
    font-size:75%;
}
#space{
    color: whitesmoke;
}
#input{
    margin-left: 10%;
    background-color: black;
    border: rgb(91, 144, 243) dotted 1px;
    font-size: 100%;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight : lighter;
    color: rgb(108, 108, 255);
    margin-top:83%;

}
#button{
    color: rgb(97, 133, 253);
    font-size: 100%;
}
#button:hover{
    cursor: pointer;
}
#horizo{
    writing-mode: tb-rl;
    position: absolute;
    color: aquamarine;
    margin-left: 1%;
    margin-top: 66.3%;
}
#horizo1{
    writing-mode: tb-rl;
    position: absolute;
    color: aquamarine;
    margin-left: 5%;
    margin-top: 61.8%;
}
#horizo2{
    writing-mode: tb-rl;
    position: absolute;
    /* -webkit-transform:rotate(0deg); */
    color: aquamarine;
    margin-left: 10%;
    margin-top: 56.3%;
}
#horizo3{
    writing-mode: tb-rl;
    position: absolute;
    color: aquamarine;
    margin-left: 75%;
    margin-top: 56%;
}
#horizo4{
    writing-mode: tb-rl;
    position: absolute;
    color: aquamarine;
    margin-left: 80%;
    margin-top: 52%;
}
#horizo5{
    writing-mode: tb-rl;
    position: absolute;
    color: aquamarine;
    margin-left: 85%;
    margin-top: 50%;
    
}
